:root {
  --font-base: "Helvetica Now Display", -apple-system, BlinkMacSystemFont,
    "avenir next", avenir, "segoe ui", "helvetica neue", helvetica, Cantarell,
    Ubuntu, roboto, noto, arial, sans-serif;

  --primary-color: #2c37da;
  --secondary-color: #ffffff;
  --black-color: #ffffff;
  --lightGray-color: #e4e4e4;
  --gray-color: rgba(255, 255, 255, 0.7);
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  color: var(--black-color);
  font-family: var(--font-base);
}
